body {
    margin: 0;
    background-color: #000000;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    box-sizing: border;
    text-align: center;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header span a{
    margin-left: 10%;
    list-style-type: none;
    text-decoration: none;
    color: #000000;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-flex;
    margin-right: 20px;
}

.menu li:hover {
    color: #ffffff;
}

.imagem {
    text-align: center;
}


.imagem img {
    display: flex;
    flex-direction: column;
    margin: 0 auto;    
    width: 50%;
    height: 50vh;
}

.projetos {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.projetos li {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 0 10px;
}

.projetos li img {
    align-items: center;
    width: 300px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.projetos li img:hover {
    transform: scale(1.1);
}
    

span {
    margin: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

p {
    text-align: center;
    margin: 30px;
}